##################################################################################
## BPC3003_2.03+.ucf
##
## Author: Jack Gassett
##
## Details: http://gadgetforge.gadgetfactory.net/gf/project/butterfly_one/
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints for Papilio One Version 2.03 and greater that uses 32Mhz oscillator.
##
##################################################################################

# Crystal Clock - use 32MHz onboard oscillator
NET "onboard_clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;

# Reset is in an input pin on the Papilio One that is not connected to anything. Adding a Pullup resistors ensures the project will always be running.
#NET "nrst" LOC = "P13" | PULLUP ;

# Wing1 Column A
NET "port_a<0>" LOC = "P18" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A0
NET "port_a<1>" LOC = "P23" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A1
NET "port_a<2>" LOC = "P26" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A2
NET "port_a<3>" LOC = "P33" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A3
NET "port_a<4>" LOC = "P35" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A4
NET "port_a<5>" LOC = "P40" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A5
NET "port_a<6>" LOC = "P53" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A6
NET "port_a<7>" LOC = "P57" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A7

NET "port_b<0>" LOC = "P60" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#A8
NET "port_b<1>" LOC = "P62" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ; 	#A9
NET "port_b<2>" LOC = "P65" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A10
NET "port_b<3>" LOC = "P67" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A11
NET "port_b<4>" LOC = "P70" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A12
NET "port_b<5>" LOC = "P79" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A13
NET "port_b<6>" LOC = "P84" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A14
NET "port_b<7>" LOC = "P86" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#A15

# Wing1 Column B
NET "port_c<0>" LOC = "P85" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B0
NET "port_c<1>" LOC = "P83" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B1
NET "port_c<2>" LOC = "P78" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B2
NET "port_c<3>" LOC = "P71" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B3
NET "port_c<4>" LOC = "P68" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B4
NET "port_c<5>" LOC = "P66" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B5
NET "port_c<6>" LOC = "P63" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B6
NET "port_c<7>" LOC = "P61" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B7
NET "port_d<0>" LOC = "P58" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B8
NET "port_d<1>" LOC = "P54" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B9
NET "port_d<2>" LOC = "P41" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B10
NET "port_d<3>" LOC = "P36" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B11
NET "port_d<4>" LOC = "P34" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B12
NET "port_d<5>" LOC = "P32" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B13
NET "port_d<6>" LOC = "P25" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B14
NET "port_d<7>" LOC = "P22" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#B15

# Wing2 Column A
NET "port_e<0>" LOC = "P91" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C0
NET "port_e<1>" LOC = "P92" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C1
NET "port_e<2>" LOC = "P94" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C2
NET "port_e<3>" LOC = "P95" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C3
NET "port_e<4>" LOC = "P98" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C4
NET "port_e<5>" LOC = "P2" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C5
NET "port_e<6>" LOC = "P3" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C6
NET "port_e<7>" LOC = "P4" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C7
NET "port_f<0>" LOC = "P5" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;  	#C8
NET "port_f<1>" LOC = "P9" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;    #C9
NET "port_f<2>" LOC = "P10" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C10
NET "port_f<3>" LOC = "P11" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C11
NET "port_f<4>" LOC = "P12" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C12
NET "port_f<5>" LOC = "P15" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C13
NET "port_f<6>" LOC = "P16" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C14
NET "port_f<7>" LOC = "P17" | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8 ;	#C15

## RS232
NET "rxd"  LOC = "P88" | IOSTANDARD = LVCMOS25 ;
NET "txd"  LOC = "P90" | IOSTANDARD = LVCMOS25 | DRIVE = 4 | SLEW = SLOW ;

## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P99 ;		#HSWAP
CONFIG PROHIBIT=P43 ;		#M0
CONFIG PROHIBIT=P42 ;		#M1
CONFIG PROHIBIT=P39 ;		#M2
CONFIG PROHIBIT=P49 ;		#VS0
CONFIG PROHIBIT=P48 ;		#VS1
CONFIG PROHIBIT=P47 ;		#VS2
